.DS_Store
node_modules/
runner/runner.wasm
__pycache__/
firmware/
runner/bench/build/
runner/bench/sdkconfig
runner/bench/sdkconfig.old
.venv/
runner/fc/fc.wasm
runner/fc/esp32/build/
runner/fc/esp32/sdkconfig
runner/fc/esp32/sdkconfig.old
